body {
    margin: 0;
    padding: 0;
    background-color: white;
}

canvas {
    display: block;
    margin: auto;
    width: 100vw;
    height: 100vh;
    max-width: 100vh;
    max-height: 100vw;
    aspect-ratio: 1;
    touch-action: none;
}