html, body {
    -webkit-overflow-scrolling : touch !important;
    overflow: hidden !important;
    height: 100% !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

canvas {
    display: block;
    margin: auto;
    touch-action: none;
    width: 100vw;
    height: 100vh;
}

.prevent-select {
    cursor: default;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

.fullCanvas {
    width: 100vw;
    height: 100vh;
}

.squareCanvas {
    width: 100vw;
    height: 100vh;
    max-width: 100vh;
    max-height: 100vw;
}

.dg .a {
    margin-right: 15px;
}

.dg {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 0.9rem !important;
}

.dg ul {
    direction: ltr;
}

.dg {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

/* Simulation GUI */

#rightGUI {
    position: absolute;
    top: 0px;
    right: 40px;
    /* margin-right: 0; */
    direction: rtl;
}

#leftGUI {
    position: absolute;
    top: 90px;
    left: 55px;
    margin-left: 0;
    direction: ltr;
}

#equation_display {
    display: none;
    position: absolute;
    top: 0px;
    left: 55px;
    border: 5px black solid;
    border-radius: 5px;
    background-color: black;
}

#equation_display_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    color: black;
    height: 85px;
    min-width: 238px;
    border-radius: 2px;
    padding-right:5px;
    padding-left:2px;
}

#equation_display.flexbox {
    display: flex;
    /* JQuery toggles to flex */
}

#leftGUI,
#rightGUI {
    padding: 5px;
    background-color: black;
    resize: horizontal;
    overflow-x: auto;
}

#leftGUI{
    border-radius: 0px 0px 5px 5px;
}

#rightGUI{
    border-radius: 5px;
}

.ui_button {
    position: absolute;
    display: flex;
    z-index: 3;

    margin: 5px;

    background-color: #ededed;
    color: #606060;
    font-size: 1.1rem;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 0 1px #fff;
}

.ui_button:hover {
    color: black;
}

.ui_button.top {
    top: 0px !important;
}

#settings {
    top: 0px;
    right: 3px;
}

#pause {
    top: 50px;
    right: 3px;
    z-index: 1;
}

#play {
    top: 50px;
    right: 3px;
    z-index: 0;
}

#erase {
    top: 90px;
    right: 3px;
}

#screenshot {
    top: 130px;
    right: 3px;
}

#back {
    top: 0px;
    left: 3px;
}

#equations {
    top: 40px;
    left: 3px;
}

#equation_display div mjx-container {
    font-size: 113.1% !important;
}

.close-button {
    display: none;
}

#try_clicking {
    top: 20px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    opacity: 0;
    transition-property: opacity;
    pointer-events: none;
}

.message {
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition-property: opacity;
    background-color: #000;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    pointer-events: none;
    padding: 0 5px;
}

.message p {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

#warning {
    display: none;
    top: 50%;
    width: 80%;
    max-width: 90vh;
    left: 50%;
    position: absolute;
    opacity: 100;
    pointer-events: all;
}

#error {
    top: 50%;
    width: 80%;
    max-width: 90vh;
    left: 50%;
    position: absolute;
    opacity: 0;
}

.btn-primary {
    width: 80px;
    color: #000 !important;
    font-size: 1.2rem;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
}

#oops_hit_nan {
    top: 50%;
    width: 80%;
    max-width: 90vh;
    left: 50%;
    position: absolute;
}

.fading_in {
    opacity: 100% !important;
    transition-duration: 3s;
    transition-delay: 1s;
}

.fading_out {
    opacity: 0% !important;
    transition-duration: 1s;
}

p, .label  {
    color: #fdfdfd;
    font: 400 2.0rem/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
}

.colourbarMain {
    display: none;
    position: absolute;
    bottom: 20px;
    width: 60%;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #000;
    border-radius: 5px;
}

.colourbarLabel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    font-variant-numeric: tabular-nums;
    width: fit-content;
    color: #fff;
}

#minLabel {
    left: 2px;
    text-align: left;
}

#maxLabel {
    right: 2px;
    text-align: right;
}

#midLabel {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.time {
    display: none;
    position: absolute;
    bottom: 20px;
    height: 20px;
    right: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #000;
    vertical-align: middle;
}

.timeLabel {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    font-variant-numeric: tabular-nums;
    color: #fff;
}

.integral {
    display: none;
    position: absolute;
    bottom: 20px;
    height: 20px;
    left: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #000;
    vertical-align: middle;
}

.integralLabel {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    font-variant-numeric: tabular-nums;
    color: #fff;
}

sup {
    line-height: 0;
}

.secondRowUI {
    bottom: 50px !important;
}