:root {
  --views-ui-offset: 85;
  --ui-bot-offset: 80;
  --left-ui-v-offset: 0;
  --ui-button-h-gap: 3px;
  --ui-h-gap: 60px;
  --text-color: #111111;
  --soft-text-color: #777;
  --link-color: #1756a9;
  --tile-text-color: #1756a9;
  --tile-highlight-color: #1756a9;
  --hover-color: #134484;
  --button-color: #1756a9;
  --toggled-on-hover-color: #b6d4fa;
  --hover-background-color: #f8f8f8;
  --background-color: #fdfdfd;
  --ui-button-color: #606060;
  --ui-button-background-color: #ffffff;
  --ui-button-border-color: rgba(0, 0, 0, 0.4);
  --ui-button-highlight-color: #ffffff;
  --ui-button-hover-color: #000000;
  --tile-border-color: rgba(27, 31, 36, 0.15);
  --font-weight: 400;
  --stop-recording-color: #ff0000;
  --ui-background-color: var(--background-color);
  --equation-background-color: #ededed;
  --input-background-color: #e9e9ed;
  --slider-fill-color: #2fa1d6;
  --active-button-background-color: #cbe2ff;
  --views-hover-color: #eee;
  --button-inline-icon-color: #333333;
}

html,
body {
  -webkit-overflow-scrolling: touch !important;
  overflow: hidden !important;
  height: 100% !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--background-color);
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    text-decoration: none;
  }
}

p > a,
p > a:visited {
  text-decoration: underline;
}

noscript {
  position: absolute;
  text-align: center;
  font-weight: 600;
  top: 50%;
  left: 50%;
  max-width: calc(800px - (30px * 2));
  transform: translate(-50%, -50%);
}

noscript > p {
  margin: 0;
  font-size: min(3vw, 3vh);
}

canvas {
  background: no-repeat center/40vw url(/assets/images/logo_loading.webp);
  background-color: black;
  display: block;
  margin: auto;
  touch-action: none;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  image-rendering: smooth;
}

.hidden {
  display: none !important;
}

.hidden-aug {
  display: none !important;
}

span.highlight {
  background-color: rgba(255, 55, 136, 0.6);
}

.prevent-select {
  cursor: default;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.squareCanvas {
  max-width: 100vh;
  max-width: 100dvh;
  max-height: 100vw;
  top: 50vh;
  top: 50dvh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
}

.dg .a {
  margin-right: 15px;
}

.dg .main {
  width: min(256px, calc(80vw - 30px)) !important;
}

.dg {
  transition: color 0.3s ease, background-color 0.3s ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-size: 0.9rem !important;
}

.dg ul {
  direction: ltr;
}

.dg li.title {
  overflow-x: auto;
}

.dg .boolean .c {
  width: 20%;
}

.dg .function .property-name {
  width: 100%;
}

.dg {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.dg .has-info-link {
  position: relative;
}

a.info-link {
  position: absolute;
  top: 0.5rem;
  right: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease;
}

a.info-link:has(+ ul:not(.closed)) {
  opacity: 100%;
  pointer-events: all;
}

@media (hover: hover) {
  a.info-link:hover {
    color: var(--text-color);
    opacity: 100%;
    pointer-events: all;
  }
  a.info-link:has(~ :hover) {
    opacity: 100%;
    pointer-events: all;
  }
}

button.focus-params {
  background: none;
  border: none;
  color: var(--link-color);
  position: absolute;
  top: 0.5rem;
  right: 30px;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  padding: 2px 6px 3px 6px;
}

button.focus-params:has(~ ul:not(.closed)) {
  opacity: 100%;
  pointer-events: all;
}

@media (hover: hover) {
  button.focus-params:hover {
    color: var(--text-color);
    pointer-events: all;
    opacity: 100%;
  }
  button.focus-params:has(~ :hover) {
    pointer-events: all;
    opacity: 100%;
  }
  button.focus-params:hover ~ a.info-link {
    opacity: 100%;
    pointer-events: all;
  }
}

button.focus-params.active {
  color: var(--text-color);
  pointer-events: all;
  opacity: 100%;
}

/* Simulation GUI */

#leftGUI,
#rightGUI,
#viewsGUI {
  padding: 10px 6px 10px 3px;
  background-color: var(--background-color);
  overflow-y: auto;
  overflow-x: hidden;
  /* border: 5px white solid; */
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 5px 10px #1113;
  pointer-events: all;
  /* transform: translate3d(0, 0, 0); */
}

#rightGUI {
  max-height: calc(100dvh - var(--ui-bot-offset) * 1px);
  direction: rtl;
}

#leftGUI {
  max-height: calc(
    100dvh - var(--ui-bot-offset) * 1px - var(--left-ui-v-offset) * 1px
  );
  margin-top: -5px;
  border-radius: 0px 0px 5px 5px;
  direction: ltr;
  border-top: none;
  padding-top: 5px;
}

#viewsGUI {
  max-height: calc(
    100dvh - var(--ui-bot-offset) * 1px - var(--views-ui-offset) * 1px
  );
  direction: ltr;
}

#left_ui,
#right_ui,
#views_ui {
  display: none;
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

#left_ui {
  top: 0px;
  left: var(--ui-h-gap);
}

#right_ui {
  top: 0px;
  right: var(--ui-h-gap);
}

#views_ui {
  top: 85px;
  left: var(--ui-h-gap);
}

#equation_display {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--equation-background-color);
  pointer-events: all;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 5px 10px #1113;
  border-bottom: 5px #ccc solid;
}

#equation_display_box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--equation-background-color);
  color: var(--text-color);
  height: fit-content;
  border-radius: 6px;
  padding-right: 5px;
  padding-left: 2px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#equation_display.flexbox {
  display: flex;
  /* JQuery toggles to flex */
}

#leftGUI ul li div ul li div .property-name {
  width: 27%;
}

#leftGUI ul li div ul li div div.c {
  width: 73%;
}

#leftGUI ul li div.advancedOptions ul li div .property-name {
  width: 57%;
}

#leftGUI ul li div.advancedOptions ul li div div.c {
  width: 43%;
}

.ui_button {
  transition: color 0.3s ease, background-color 0.3s ease, background 0.3s ease;
  position: absolute;
  display: flex;
  z-index: 3;
  margin: 5px;
  background-color: var(--ui-button-background-color);
  color: var(--ui-button-color);
  font-size: 1.1rem;
  height: 35px;
  width: 35px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--ui-button-border-color);
  border-radius: 5px;
  cursor: pointer;
  text-shadow: 0 1px #fff;
}

.ui_button.clicked {
  outline: 3px solid rgb(255, 255, 255);
  outline-color: var(--ui-button-highlight-color);
}

.ui_button.top {
  top: 0px !important;
}

#settings {
  top: 0px;
  right: var(--ui-button-h-gap);
}

#pause {
  top: 50px;
  left: var(--ui-button-h-gap);
}

#play {
  top: 50px;
  left: var(--ui-button-h-gap);
}

#play_pause_placeholder {
  top: 50px;
  left: var(--ui-button-h-gap);
}

#erase {
  top: 90px;
  left: var(--ui-button-h-gap);
}

#screenshot {
  top: 90px;
  right: var(--ui-button-h-gap);
}

#share {
  top: 90px;
  right: var(--ui-button-h-gap);
}

#stop_recording {
  color: var(--stop-recording-color);
  display: inline-flex;
  font-size: 0.9rem;
  height: 100%;
  width: 28px;
  margin: 0;
  margin-left: 5px;
  pointer-events: all;
  vertical-align: middle;
  border: 0px;
  border-radius: 0 5px 5px 0;
  padding-top: 2px;
  padding-bottom: 2px;
  top: -2px;
}

#equations {
  top: 0px;
  left: var(--ui-button-h-gap);
}

#help {
  top: 50px;
  right: var(--ui-button-h-gap);
}

#views {
  top: 130px;
  left: var(--ui-button-h-gap);
}

#link {
  top: 130px;
  right: var(--ui-button-h-gap);
}

@media (hover: hover) {
  .ui_button:hover {
    color: var(--ui-button-hover-color);
  }
}

@media (hover: hover) {
  #stop_recording:hover {
    color: var(--stop-recording-color);
    filter: grayscale(40%);
  }
}

.message.small {
  position: absolute;
  right: 50px;
  transform: translateY(-50%);
  opacity: 100;
  display: none;
}

.message.small p {
  font-size: 0.8rem;
}

.message.mid {
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}

#link_copied {
  top: 112.5px;
}

#get_help {
  top: 74px;
}

#brush_disabled {
  top: 5px;
}

#recording {
  top: 5px;
  padding-right: 33px;
  border-radius: 5px;
  border-right: none;
}

#recording p {
  display: inline-block;
}

#recording_time {
  font-family: monospace;
}

#use_Chrome {
  position: absolute;
  top: 38px;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}

.circle,
.circle::before {
  display: inline-block;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-right: 5px;
  transition: all 0.3s;
  background-color: #ff0055;
}

.circle::before {
  animation: blink 2s infinite;
  position: absolute;
  margin-left: 5px;
  left: 0px;
  background-color: #00ff00;
}

@keyframes blink {
  50% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

#equation_display div mjx-container {
  font-size: 113.1% !important;
}

.close-button {
  display: none;
}

#top_message {
  top: 20px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.message {
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  transition-property: opacity;
  background-color: #30204a;
  border: 2px solid #30204a;
  border-radius: 10px;
  text-align: center;
  pointer-events: none;
  padding: 0 5px;
  z-index: 4;
}

.message p {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.btn-primary {
  width: 80px;
  color: var(--text-color);
  font-size: 1.2rem;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  background-color: var(--background-color);
}

.btn-primary .svg-inline--fa {
  margin-right: 5px;
}

.btn-primary.highlight {
  color: #efefef;
  background-color: var(--button-color);
}

.big-popup {
  display: none;
  top: 50%;
  max-width: 100vw;
  width: 20rem;
  left: 50%;
  position: absolute;
  opacity: 100;
  pointer-events: all;
  padding: 1.5rem 3rem 1.5rem 3rem;
  background-color: var(--background-color);
  border: 1px var(--tile-border-color) solid;
  border-radius: 6px;
}

.big-popup p {
  color: var(--text-color);
  font-size: min(1.2rem, 5vw);
  padding-bottom: min(1rem, 2vw);
}

#error_description {
  font-family: monospace;
  font-size: small;
  font-weight: bold;
}

#welcome_ok,
#welcome_no,
#lets_go,
.message_dismiss {
  font-size: min(1rem, 5vw);
  margin-bottom: 0.5rem;
  text-align: center;
  width: 13rem;
  max-width: 100%;
  border: 1px solid;
  border-radius: 6px;
  border-color: var(--ui-button-border-color);
  padding: 5px 16px;
  box-shadow: rgba(27, 31, 36, 0.1) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-duration: 80ms;
}

@media (hover: hover) {
  .btn-primary.highlight:hover {
    background-color: var(--hover-color);
    cursor: pointer;
  }
}

@media (hover: hover) {
  #welcome_no:hover,
  .message_dismiss:hover {
    background-color: var(--input-background-color);
    cursor: pointer;
    color: var(--text-color) !important;
  }
}

.centre_symbol {
  text-align: center;
  color: #ff4188;
  font-size: 3rem;
}

p.error_para {
  margin-bottom: 0.9rem;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

i.icon_on_text_button {
  color: #606060;
  margin-right: 0.4rem;
}

.fading_in {
  opacity: 100% !important;
  transition-duration: 2s;
  transition-delay: 0.5s;
}

.fading_out {
  opacity: 0% !important;
  transition-duration: 1s;
}

p,
.label {
  color: #fdfdfd;
  font: 400 2rem/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
}

.colourbarMain {
  display: none;
  position: absolute;
  bottom: 20px;
  width: 60%;
  height: 24px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #000;
  border-radius: 5px;
}

.colourbarLabel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  font-variant-numeric: tabular-nums;
  width: fit-content;
  color: #fff;
}

#minLabel {
  left: 2px;
  text-align: left;
}

#maxLabel {
  right: 2px;
  text-align: right;
}

#midLabel {
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.dataContainer {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: right;
}

.dataItem {
  position: relative;
  margin-left: auto;
  margin-right: 0;
  display: block;
  height: 20px;
  width: fit-content;
  border: 4px solid #000;
  border-radius: 5px;
  background-color: #000;
}

.timeLabel,
.integralLabel,
.rateOfProgressLabel {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  font-variant-numeric: tabular-nums;
  color: #fff;
}

#dataContainerStats {
  left: 100px;
  right: unset;
}

sup {
  line-height: 0;
}

#logo {
  color: white;
  position: absolute;
  bottom: 1ex;
  left: 1ex;
  font-size: min(4vw, 8vh, 26px);
  font-weight: 200;
  letter-spacing: -1px;
  text-shadow: 0px 0px 6px black, 0px 0px 25px black;
}

.params {
  margin: auto !important;
  width: 100% !important;
}

input[type="range"] {
  width: 100%;
  background: none;
}

.dg .parameterSlider:not(.closed) {
  height: 62px;
}

/* Slider */
input[type="range"].styled-slider {
  height: 2.2em;
  appearance: none;
  -webkit-appearance: none;
}

/*progress support*/
input[type="range"].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
}

input[type="range"].styled-slider:focus {
  outline: none;
}

/*webkit*/
input[type="range"].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
  background: #ffffff;
  border: none;
  box-shadow: 0 0 2px #000000;
  margin-top: calc(max((0.25em - 1px - 1px) * 0.5, 0px) - 1.2em * 0.5);
  cursor: pointer;
}

input[type="range"].styled-slider::-webkit-slider-runnable-track {
  height: 0.5em;
  border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: #efefef;
  box-shadow: none;
}

input[type="range"].styled-slider:hover::-webkit-slider-runnable-track {
  border-color: #9a9a9a;
}

input[type="range"].styled-slider::-webkit-slider-thumb:active {
  background: var(--slider-fill-color);
}

input[type="range"].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(
        var(--slider-fill-color),
        var(--slider-fill-color)
      )
      0 / var(--sx) 100% no-repeat,
    #efefef;
}

/*mozilla*/
input[type="range"].styled-slider::-moz-range-thumb {
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
  background: #ffffff;
  border: none;
  box-shadow: 0 0 2px #000000;
  cursor: pointer;
}

input[type="range"].styled-slider::-moz-range-track {
  height: max(calc(0.5em - 1px - 1px), 0px);
  border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: #efefef;
  box-shadow: none;
}

input[type="range"].styled-slider:hover::-moz-range-track {
  border-color: #9a9a9a;
}

input[type="range"].styled-slider::-moz-range-thumb:active {
  background: var(--slider-fill-color);
}

input[type="range"].styled-slider.slider-progress::-moz-range-track {
  background: linear-gradient(
        var(--slider-fill-color),
        var(--slider-fill-color)
      )
      0 / var(--sx) 100% no-repeat,
    #efefef;
}

/*ms*/
input[type="range"].styled-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type="range"].styled-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type="range"].styled-slider::-ms-thumb {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background: #ffffff;
  border: none;
  box-shadow: 0 0 2px #000000;
  margin-top: 0;
  box-sizing: border-box;
  cursor: pointer;
}

input[type="range"].styled-slider::-ms-track {
  height: 0.5em;
  border-radius: 0.5em;
  background: #efefef;
  border: 1px solid #b2b2b2;
  box-shadow: none;
  box-sizing: border-box;
}

input[type="range"].styled-slider:hover::-ms-track {
  border-color: #9a9a9a;
}

input[type="range"].styled-slider::-ms-thumb:active {
  background: var(--slider-fill-color);
}

input[type="range"].styled-slider.slider-progress::-ms-fill-lower {
  height: max(calc(1em - 1px - 1px), 0px);
  border-radius: 0.5em 0 0 0.5em;
  margin: -1px 0 -1px -1px;
  background: var(--slider-fill-color);
  border: 1px solid #b2b2b2;
  border-right-width: 0;
}

#equations {
  background: url("/assets/images/function-button.webp") no-repeat;
  background-size: 80%;
  background-position: center;
  background-color: #ffffff;
}

@media (hover: hover) {
  #equations:hover {
    background: url("/assets/images/function-button-hover.webp") no-repeat;
    background-size: 80%;
    background-position: center;
    background-color: #ffffff;
  }
}

#equations::after {
  /* Preload the hovered function button to stop flickering */
  content: url("/assets/images/function-button-hover.webp")
    url("/assets/images/function-button-hover-dark.webp")
    url("/assets/images/function-button-dark.webp");
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  z-index: -1;
}

.popout_panel {
  display: none;
  position: absolute;
  z-index: 5;
  right: 60px;
  color: var(--text-color);
}

#share_panel {
  top: 55px;
}

#help_panel {
  top: 15px;
}

.popout_panel .container {
  background-color: var(--background-color);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 5px 10px #1113;
  z-index: 0;
}

#views_list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5px;
  line-height: 110%;
  column-gap: 10px;
  row-gap: 10px;
}
#views_list a {
  display: flex;
  hyphens: auto;
  min-width: 2.2rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  height: 3rem;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 12pt;
  font-weight: 200;
  text-shadow: none;
  border: 1px solid #555;
  cursor: pointer;
  transition: 0.1s;
  line-height: 1.1;
  color: var(--text-color);
}
#views_list .view_label {
  text-align: center;
}
a#add_view {
  float: right;
  border-radius: 4px;
  border: 1px #555 dashed;
  font-size: 1.1rem;
  transition: 0.1s;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  cursor: pointer;
}

@media (hover: hover) {
  #views_list a:not(.active_button):hover,
  a#add_view:hover {
    background-color: var(--views-hover-color);
    transition: 0.1s;
  }
}

.dg li.folder {
  border-left: 0;
}

.button_list {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  border-bottom: 0px;
  padding: 1px !important;
}

.dg :not(.closed) > .button_list {
  height: fit-content !important;
}

.dg .closed li:not(.title) {
  padding: 0 !important;
  border-bottom: 0px !important;
}

.dg li:not(.folder) {
  background: var(--background-color) !important;
  border-bottom: 1px solid #eee !important;
}

ul li.folder .dg ul li.cr {
  padding: 0 6px 0 6px !important;
}

#viewsGUI ul li div ul li div .property-name {
  width: 40%;
}

select {
  max-width: 100%;
}

.button_list a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--ui-button-border-color);
  height: 1.8rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border-radius: 5px;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
  cursor: pointer;
  color: var(--text-color);
}

.button_list a.wide {
  width: 7em;
  padding-left: 0.3rem;
  padding-right: 0.2rem;
}

.button_list a.narrow {
  width: 4em;
  padding-left: 0.5rem;
  padding-right: 0.4rem;
}

.button_list a .svg-inline--fa {
  margin-right: 5px;
  color: var(--button-inline-icon-color);
}

.button_list i {
  font-size: 1.1rem;
  margin-right: 5px;
  color: var(--button-inline-icon-color);
}

.button_list .toggle_button.toggled_on {
  background-color: var(--active-button-background-color);
}

@media (hover: hover) {
  .button_list .toggle_button.toggled_on:hover {
    background-color: var(--toggled-on-hover-color);
  }
}

.button_list a:active {
  background-color: var(--views-hover-color);
}

@media (hover: hover) {
  .button_list a:hover {
    background-color: var(--views-hover-color);
  }
}

.button_list a#deleteViewButton {
  color: red;
  border: 1px solid #d7b9b9 !important;
}

.active_button {
  background-color: var(--active-button-background-color);
  border: 1px solid var(--button-color) !important;
}

.ui_title {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 12pt;
  font-weight: 500;
  text-align: left;
  cursor: default;
  color: var(--text-color);
}

.popout_panel .arrow,
.popout_panel .arrow::after,
#right_ui_arrow,
#right_ui_arrow::after,
#left_ui_arrow,
#left_ui_arrow::after,
#views_ui_arrow,
#views_ui_arrow:after {
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.popout_panel .arrow {
  right: -11px;
  top: 45px;
  border-width: 14px 0px 14px 14px;
  border-left-color: var(--background-color);
}

.popout_panel .arrow::after {
  border-width: 14px 0px 14px 14px;
  border-left-color: var(--hover-background-color);
  top: -14px;
  right: -1px;
  content: "";
  z-index: -1;
}

.share-icon {
  color: var(--link-color);
  border: 1px solid var(--ui-button-border-color);
  border-radius: 0.5rem;
  height: 1.1rem;
  width: 1.1rem;
  margin-right: 6px;
  padding: 6px;
  vertical-align: middle;
}

.popout_panel #title {
  font-weight: 500;
  margin-bottom: 10px;
}

.popout_panel .button {
  padding-top: 5px;
  font-size: 14.4px;
}

@media (hover: hover) {
  .popout_panel .button:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

@media (hover: hover) {
  .popout_panel .button:hover .share-icon {
    background-color: #1756a930;
  }
}

.popout_panel a,
.popout_panel a:visited {
  text-decoration: none;
  color: var(--text-color);
}

#right_ui_arrow {
  right: -11px;
  top: 10px;
  border-width: 14px 0px 14px 14px;
  border-left-color: var(--background-color);
}

#right_ui_arrow::after {
  border-width: 14px 0px 14px 14px;
  border-left-color: var(--hover-background-color);
  top: -14px;
  right: -1px;
  content: "";
  z-index: -1;
}

#left_ui_arrow {
  left: -11px;
  top: 10px;
  border-width: 14px 14px 14px 0px;
  border-right-color: var(--equation-background-color);
}

#left_ui_arrow::after {
  border-width: 14px 14px 14px 0px;
  border-right-color: var(--hover-background-color);
  top: -14px;
  left: -1px;
  content: "";
  z-index: -1;
}

#views_ui_arrow {
  left: -11px;
  top: 55px;
  border-width: 14px 14px 14px 0px;
  border-right-color: var(--background-color);
}

#views_ui_arrow::after {
  border-width: 14px 14px 14px 0px;
  border-right-color: var(--hover-background-color);
  top: -14px;
  left: -1px;
  content: "";
  z-index: -1;
}

/* Make the dat GUI boxes white */
.dg {
  text-shadow: none !important;
  color: var(--text-color) !important;
}
.dg li.title {
  background: var(--background-color) !important;
  overflow: hidden;
  /* background: #fff url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 13px no-repeat !important; */
}
@media (hover: hover) {
  .dg li.title:hover {
    text-decoration: underline;
  }
}
.dg ul li.title::before {
  display: inline-block;
  width: 11px;
  content: "\f107"; /* Down arrow */
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  margin-left: -7px;
  padding-right: 6px;
}
.dg ul.closed li.title::before {
  display: inline-block;
  width: 11px;
  content: "\f105"; /* Right arrow */
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  margin-left: -7px;
  padding-right: 6px;
  color: var(--link-color);
}

.dg .c input[type="text"] {
  background: var(--input-background-color) !important;
  margin-top: 3px !important;
  height: 21px !important;
  border-radius: 1px !important;
  font-size: 14px !important;
  padding-left: 4px !important;
  width: 100% !important;
  margin-right: -6px !important;
}

.dg .c input[type="text"],
.dg .c input[type="text"]:focus {
  color: var(--text-color) !important;
}

.dg .c input[type="text"]:focus {
  border: 2px solid var(--link-color);
  margin-top: 1px !important;
  width: calc(100% - 2px) !important;
  border-radius: 2px !important;
  margin-bottom: -2px;
}

.dg .c .slider {
  display: none;
}

#embed,
#record {
  display: inline-block;
}

#embed_ui_type {
  margin-left: 14px;
}

#video_quality {
  margin-left: 5px;
}

.dg.main::-webkit-scrollbar {
  border-radius: 0.5rem;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.views_pics {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.views_pics img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 5px;
}

video {
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
}

.dark-mode {
  --background-color: #171b29;
  --text-color: #bec1c5;
  --link-color: #c2a1ff;
  --tile-text-color: #dfdfdf;
  --tile-highlight-color: #564fddd0;
  --hover-background-color: #343434;
  --hover-color: #4c46c7;
  --toggled-on-hover-color: var(--hover-color);
  --button-color: #564fdd;
  --soft-text-color: #dfdfdf;
  --ui-button-color: var(--text-color);
  --ui-button-background-color: var(--background-color);
  --ui-button-border-color: #555555;
  --ui-button-highlight-color: var(--text-color);
  --ui-button-hover-color: #555555;
  --tile-border-color: rgba(224, 234, 247, 0.15);
  --font-weight: 400;
  --stop-recording-color: var(--link-color);
  --ui-background-color: var(--hover-background-color);
  --equation-background-color: #444444;
  --input-background-color: #303134;
  --slider-fill-color: var(--link-color);
  --active-button-background-color: var(--button-color);
  --views-hover-color: var(--input-background-color);
  --button-inline-icon-color: var(--link-color);
}

.dark-mode body {
  background-color: var(--ui-background-color);
}

.dark-mode #equations {
  background: url("/assets/images/function-button-dark.webp") no-repeat;
  background-size: 80%;
  background-position: center;
  background-color: var(--ui-button-background-color);
}

@media (hover: hover) {
  .dark-mode #equations:hover {
    background: url("/assets/images/function-button-hover-dark.webp") no-repeat;
    background-size: 80%;
    background-position: center;
    background-color: var(--ui-button-background-color);
  }
}

.dark-mode #equations::after {
  /* Preload the hovered function button to stop flickering */
  content: url("/assets/images/function-button-hover-dark.webp")
    url("/assets/images/function-button.webp")
    url("/assets/images/function-button-hover.webp");
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  z-index: -1;
}

.dark-mode #equation_display {
  border: none;
  border-bottom: 5px solid var(--background-color);
}

.dark-mode #leftGUI,
#rightGUI,
#viewsGUI {
  border: 1px solid var(--ui-button-border-color);
}

.dark-mode #leftGUI {
  border-top: none;
}

@media (hover: hover) {
  .dark-mode #stop_recording:hover {
    color: var(--button-color);
    filter: none;
  }
}

.dark-mode .dg > ul:not(.closed) > li:not(.folder) {
  border-bottom: 1px solid #c2a1ff58 !important;
}

.dark-mode .dg > ul.closed > li:first-child {
  border-bottom: 1px solid #c2a1ff58 !important;
}

.dark-mode .popout_panel .container {
  border: 1px solid var(--ui-button-border-color);
}

@media (hover: hover) {
  .popout_panel .button:hover .share-icon {
    background-color: unset;
    color: var(--text-color);
  }
}

.dark-mode .message {
  background-color: var(--background-color);
  border-color: var(--background-color);
}

.dark-mode .btn-primary .icon_on_text_button {
  color: var(--link-color);
}

.dark-mode .shepherd-content {
  color: var(--text-color);
  background-color: var(--background-color);
}

.dark-mode .shepherd-text {
  color: var(--text-color);
}

.dark-mode .shepher-header {
  background-color: var(--background-color);
}

.dark-mode .shepherd-title {
  color: var(--text-color);
}

.dark-mode .shepherd-has-title .shepherd-content .shepherd-header {
  background-color: var(--background-color);
  color: var(--text-color);
}

.dark-mode .shepherd-button {
  background-color: var(--button-color);
  color: #dfdfdf;
}

@media (hover: hover) {
  .dark-mode .shepherd-button:not(:disabled):hover {
    background-color: var(--hover-color);
  }
}

.dark-mode .shepherd-button.shepherd-button-secondary {
  background-color: var(--background-color);
  border-color: var(--ui-button-border-color);
}

@media (hover: hover) {
  .dark-mode .shepherd-button.shepherd-button-secondary:not(:disabled):hover {
    background-color: var(--input-background-color);
    color: #dfdfdf;
    border-color: var(--ui-button-border-color);
  }
}

@media (hover: hover) {
  .dark-mode .shepherd-has-title .shepherd-content .shepherd-cancel-icon:hover {
    color: var(--views-hover-color);
  }
}

.darkmode-button {
  float: right;
  margin-top: 6px;
  color: var(--link-color);
  cursor: pointer;
  font-size: 1.1rem;
  background: none;
  border: none;
}

.darkmode-button .svg-inline--fa {
  margin-right: 5px;
}

.darkmode-button span:first-child {
  font-size: 0.9rem;
}

@media (hover: hover) {
  .darkmode-button:hover {
    filter: brightness(70%);
  }
}

#dark-on {
  display: inline;
}

#light-on {
  display: none;
}

.dark-mode #dark-on {
  display: none;
}

.dark-mode #light-on {
  display: inline;
}

.dark-mode canvas,
.colourbarMain {
  filter: brightness(90%);
}
