html, body {
    -webkit-overflow-scrolling : touch !important;
    overflow: hidden !important;
    height: 100% !important;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

canvas {
    display: block;
    margin: auto;
    touch-action: none;
    width: 100vw;
    height: 100vh;
}

.fullCanvas {
    width: 100vw;
    height: 100vh;
}

.squareCanvas {
    width: 100vw;
    height: 100vh;
    max-width: 100vh;
    max-height: 100vw;
}

.dg .a {
    margin-right: 15px;
}

.dg {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size:0.9rem !important;
}

.dg {
    -webkit-user-select: none;   /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;    /* IE10+/Edge */
    user-select: none;    /* Standard */
}

/* Simulation GUI */

#rightGUI {
    position: absolute;
    top: 0px;
    right: 40px;
    /* margin-right: 0; */
}

#leftGUI {
    position: absolute;
    top: 0px;
    left: 55px;
    margin-left: 0;
}

#leftGUI, #rightGUI{
    border-radius: 5px;
    padding:5px;
    background-color: black;
}

.ui_button{
    position: absolute;
    display: flex;
    z-index: 3;

    margin:5px;

    background-color: #ededed;
    color: #606060;
    font-size:1.1rem;
    height:35px;
    width:35px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 0 1px #fff;
}

.ui_button:hover{
    color:black;
}

#settings{
    top: 0px;
    right: 3px;
}
#pause{
    top: 50px;
    right: 3px;
    z-index: 1;
}
#play{
    top: 50px;
    right: 3px;
    z-index:0;
}
#erase{
    top: 90px;
    right: 3px;
}
#equations{
    top: 0px;
    left: 3px;
}

.close-button {
    display: none;
}

p, .colourbarLabel {
    color: #fdfdfd;
    font: 400 2.0rem/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
}

.colourbarMain {
    display: none;
    position: absolute;
    bottom: 20px;
    width: 60%;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #000;
    border-radius: 5px;
}

.colourbarLabel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    font-variant-numeric: tabular-nums;
    width: fit-content;
    color: #fff;
}

#minLabel {
    left: 2px;
    text-align: left;
}

#maxLabel {
    right: 2px;
    text-align: right;
}