<link rel="stylesheet" href="/assets/css/custom.css">
<script src="/assets/js/jQuery.js"></script>
<script src="/assets/js/make_target_blank.js" defer></script>
<script src="/assets/js/run_only_one_sim.js"></script>
<script src="../assets/fontawesome/solid.js" defer></script>
<script src="../assets/fontawesome/fontawesome.min.js" defer></script>
<script src="/assets/js/scroll_to_top_button.js" defer></script>
<script src="/assets/js/vpde-inputs.min.js" defer></script>
<script src="/assets/js/toc.js" defer></script>