<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}<span class='darkmode-button' id="dark-on"><i class="fa-solid fa-moon"></i></span>
        <span class='darkmode-button' id="light-on"><i class="fa-solid fa-sun"></i></span></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>

<script>
    document.getElementById("dark-on").addEventListener("click", () => {toggleDarkMode(true); localStorage.setItem("dark-mode", "true");});
    document.getElementById("light-on").addEventListener("click", () => {toggleDarkMode(false); localStorage.setItem("dark-mode", "false");});
</script>