<script src="/assets/js/lunr.js"></script>

<form id="lunrsearchform"
onSubmit="return lunr_search(document.getElementById('lunrsearchinput').value);"
>
<p>
    <label for="lunrsearchinput" id="search-button" title="Search"><i class="fa-solid fa-magnifying-glass"></i></label>
    <div id="lunrsearchbar" tabindex="0">
    <input
      type="text"
      id="lunrsearchinput"
      name="q"
      maxlength="255"
      value=""
      placeholder="Search"
      onfocus="document.getElementById('lunrsearchform').onsubmit();"
      oninput="document.getElementById('lunrsearchform').onsubmit();"
      />
      <div id="lunrsearchresults">
        <ul></ul>
      </div>
    </div>
  </p>
</form>

<script src="/assets/js/search.js" async></script>
