hr {
  display: none;
  border-style: solid;
  border-color: var(--text-color);
  margin-bottom: 3rem;
  opacity: 25%;
}

main img {
  width: 200px;
  height: 200px;
  border: 3px solid var(--tile-highlight-color);
  object-fit: cover;
  border-radius: 50%;
}

div.container,
div.profiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10%;
  margin-bottom: 6rem;
  margin-top: 3rem;
  text-align: center;
}

div.profiles {
  margin-bottom: 0;
}

div.profile {
    margin-bottom: 1rem;
    transition: transform 0.5s;
}

@media (hover: hover) {
    div.profile:hover {
        transform: scale(1.05);
    }
    
}

div.container img:has(~ img) {
  display: none;
}

.container p {
  font-weight: 300;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  hr {
    display: block;
  }
  img {
    width: 150px;
    height: 150px;
  }
  div.container,
  div.profiles {
    flex-direction: column;
    column-gap: 0;
    margin-top: 0;
    margin-bottom: 3rem;
  }

  div.container img:has(~ img) {
    display: unset;
  }

  div.container img ~ img {
    display: none;
  }
}
