div.wrapper {
  max-width: 1300px;
}

div.topic_tiles {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  text-align: center;
  transition: opacity 0.7s ease 1s;
  transition: none;
  column-gap: 20px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 0 1.25rem;
}

a.topic_tile {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  width: min(30vw, 400px);
}

div.video_container {
  border: 1px solid var(--tile-border-color);
  border-left: 0;
  border-right: 0;
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: calc(100% - 3rem);
}

div.video_container > iframe.tutorial_video {
  margin: 10px 10px;
}

.top_container iframe {
  width: 200px;
  height: 200px;
  border: 3px solid var(--tile-highlight-color);
  background-color: var(--tile-highlight-color);
  object-fit: cover;
  border-radius: 50%;
}

div.top_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10%;
  margin-bottom: 3rem;
  margin-top: 3rem;
  text-align: center;
}

.top_container p {
  font-weight: 300;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .top_container iframe {
    width: 150px;
    height: 150px;
  }
  div.top_container {
    flex-direction: column;
    column-gap: 0;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
  div.video_container {
    flex-direction: column;
    column-gap: 0;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  div.topic_tiles {
    flex-direction: column;
    align-items: center;
  }

  div.topic_tiles > p {
    padding-top: 15px;
  }

  a.topic_tile {
    width: 60vw;
  }
}
