.nav-button,
.nav-button:visited,
a[href*='/sim/'] {
    background-color: #2da44e;
    border: 1px solid;
    border-radius: 6px;
    border-color: rgba(27, 31, 36, 0.15);
    padding: 5px 16px;
    color: white;
    box-shadow: rgba(27, 31, 36, 0.1) 0px 1px 0px 0px,
        rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
}

.nav-button:hover,
a[href*='/sim/']:hover {
    background-color: #2c974b;
    border-color: rgba(27, 31, 36, 0.15);
    transition-duration: .1s;
    text-decoration: none;
    color: white;
}

div.home-banner {
    background-color: #ddf1ff;
    height: 150px;
    background: #def3ff url("/assets/images/banner.png") no-repeat center center;
    background-size: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.home-banner-subtitle,
div.home-banner-title {
    background-color: #30204a;
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

div.home_tiles,
div.topic_tiles {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

a.home_tile,
a.topic_tile {
    display: flex;
    padding: 15px 17px 16px 17px;
    border: 1px solid;
    border-radius: 6px;
    border-color: rgba(27, 31, 36, 0.15);
    line-height: 1.3;
    color: #1756a9;
    column-gap: 20px;
}

a.home_tile {
    width: 324px;
}

@media screen and (max-width: 820px) {
    a.home_tile {
        width: 100%;
    }
}



a.topic_tile {
    width: 100%;
}

a.home_tile:hover,
a.topic_tile:hover {
    text-decoration: none;
}

a.topic_tile:hover {
    background-color: #f8f8f8;
}

a.home_tile img {
    max-width: 145px;
    height: 145px;
}

a.topic_tile img {
    max-width: 115px;
    height: 115px;
}

a.home_tile div.container,
a.topic_tile div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a.home_tile div.container img {
    border: 3px solid #1756a9;
    object-fit: cover;
    border-radius: 50%;
}

a.topic_tile div.container img {
    border: 1px solid;
    border-color: rgba(27, 31, 36, 0.15);
    object-fit: cover;
    border-radius: 6px;
}

a.home_tile div.container div.title,
a.topic_tile div.container div.title {
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: 10px;
}

a.home_tile div.container div.subtitle {
    font-size: 1.4rem;
    font-weight: 300;
    padding-bottom: 15px;
}

a.topic_tile div.container div.subtitle {
    font-size: normal;
    padding-bottom: 13px;
    color: #111111;
}

a.topic_tile div.container div.subtitle_equation {
    font-size: normal;
    color: #111111;
    /* padding-bottom: 13px; */
}

a.home_tile div.container div.button {
    background-color: #1756a9;
    text-align: center;
    width: 60px;
    border: 1px solid;
    border-radius: 6px;
    border-color: rgba(27, 31, 36, 0.15);
    padding: 5px 16px;
    color: white;
    box-shadow: rgba(27, 31, 36, 0.1) 0px 1px 0px 0px,
        rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
}

a.home_tile div.container div.button:hover {
    background-color: #134484;
    border-color: rgba(27, 31, 36, 0.15);
    transition-duration: .1s;
    text-decoration: none;
}

a.topic_tile div.container div.button {
    background-color: #1756a9;
    text-align: center;
    width: 60px;
    border: 1px solid;
    border-radius: 6px;
    border-color: rgba(27, 31, 36, 0.15);
    padding: 5px 16px;
    color: white;
    box-shadow: rgba(27, 31, 36, 0.1) 0px 1px 0px 0px,
        rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
}

a.topic_tile div.container div.button:hover {
    background-color: #134484;
    border-color: rgba(27, 31, 36, 0.15);
    transition-duration: .1s;
    text-decoration: none;
}