:root {
  --text-color: #111111;
  --soft-text-color: #717171;
  --link-color: #1756a9;
  --tile-text-color: #1756a9;
  --tile-highlight-color: #1756a9;
  --hover-color: #134484;
  --button-color: #1756a9;
  --hover-background-color: #ececec;
  --background-color: #fdfdfd;
  --play-button-color: #23843e;
  --play-button-hover-color: #216d37;
  --slider-fill-color: #2fa1d6;
  --ui-button-color: #606060;
  --ui-button-background-color: #ffffff;
  --ui-button-border-color: rgba(0, 0, 0, 0.8);
  --tile-border-color: rgba(27, 31, 36, 0.15);
  --font-weight: 350;
  --stop-recording-color: #ff0000;
  --input-background-color: #e9e9ed;
  --input-border-color: #e8e8e8;
  --table-header-background-color: #f0f0f0;
  --table-even-row-background-color: #f0f0f0;
  --post-of-the-week-height: 0px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 62px;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  transition: color 0.5s ease, background-color 0.5s ease;
  overflow-x: hidden;
}

a,
a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a[href*='//']:not([href*='visualpde.com' i])
{
  color: var(--text-color);
}

p > a,
p > a:visited,
div.wrapper > ul > li > a,
div.wrapper > ul > li > a:visited {
  text-decoration: underline;
}

div.wrapper > ul > li > a:hover {
  text-decoration: none;
}

a.button {
  text-decoration: none;
}

table {
  color: var(--text-color);
}

table th {
  background-color: var(--table-header-background-color);
}

table tr:nth-child(even) {
  background-color: var(--table-even-row-background-color);
}

.noscript {
  text-align: center;
  font-weight: 600;
  max-width: calc(800px - (30px * 2));
  margin: 0 auto;
}

.emphasize {
  text-align: center;
  font-weight: 300;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media (hover: hover) {
  a:hover {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
  }
  summary:hover {
    cursor: pointer;
  }
  .site-nav .page-link:hover,
  .site-title:hover {
    text-decoration: underline;
  }
}

p {
  font-weight: var(--font-weight);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.no-select {
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo {
  position: absolute;
  top: 20vh;
  max-width: 40vw;
  max-height: 15vh;
  opacity: 0;
  transition: opacity 1s ease;
  pointer-events: none;
}

#reading-progress,
#reading-progress-gutter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 0;
  height: 10px;
  background-color: var(--button-color);
  z-index: 1000;
  transition: width 0.5s ease-out;
}

#reading-progress-gutter {
  width: 100%;
  background-color: var(--input-background-color);
}

.wrapper {
  position: relative;
  max-width: -webkit-calc(900px - (30px * 2));
  max-width: calc(900px - (30px * 2));
}

.site-header .wrapper {
  max-width: unset;
}

.site-header {
  position: sticky;
  min-height: 50px;
  top: 0;
  background-color: var(--background-color);
  z-index: 20;
  border-bottom: 1px solid var(--tile-border-color);
  /* Fix for Safari not respecting z-index */
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  border-top: none;
}

.highlighter-rouge .highlight {
  background-color: var(--hover-background-color);
}

p.home-welcome {
  margin-bottom: 0.8ex;
}

pre:has(code),
code {
  background-color: var(--hover-background-color);
  color: var(--soft-text-color);
  border-color: var(--input-border-color);
}

main a[href^="/sim/"],
main a[href*="visualpde.com/sim/" i] {
  border-bottom: 3px var(--play-button-color) solid;
  border-radius: 3px;
  font-weight: 700;
  padding: 1px 0px;
  color: var(--play-button-color);
  transition: 0.5s cubic-bezier(0.33, 1, 0.68, 1);
  white-space: nowrap;
  text-decoration: none !important;
}

.nav-button-survey,
.nav-button-survey:visited {
  font-weight: 400;
  background-color: #de1d5c;
  border: 1px solid;
  border-radius: 6px;
  border-color: rgba(27, 31, 36, 0.15);
  padding: 6px 16px;
  color: #ffffff;
  box-shadow: rgba(27, 31, 36, 0.1) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  white-space: nowrap;
  margin-right: 1.5ex;
  color: white !important;
}

main a.nav-button-survey {
  border-bottom: 3px #de1d5c solid;
  border-radius: 3px;
  font-weight: 700;
  padding: 1px 0px;
  color: #de1d5c;
  transition: 0.5s cubic-bezier(0.33, 1, 0.68, 1);
  white-space: nowrap;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  /* Changed for feedback button */
  a.nav-button-survey,
  a.nav-button {
    margin-right: 1ex !important;
    margin-left: 1ex !important;
    margin-bottom: 0.5ex !important;
  }
}

#cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #222;
  color: #fff;
  padding: 0.4em;
  text-align: center;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
}

.nav-button,
.nav-button:visited,
.cookie-button {
  font-weight: 400;
  background-color: var(--play-button-color);
  border: 1px solid;
  border-radius: 6px;
  border-color: rgba(27, 31, 36, 0.15);
  padding: 6px 16px;
  color: #ffffff;
  box-shadow: rgba(27, 31, 36, 0.1) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  white-space: nowrap;
}

.cookie-button {
  margin-left: 1em;
  padding: 0.5em 1em;
  background: #444;
  color: #fff;
  border: none;
  cursor: pointer;
}

.cookie-button:hover {
  background-color: var(--hover-color);
  border-color: rgba(27, 31, 36, 0.15);
  transition-duration: 0.1s;
  text-decoration: none;
}

@media (hover: hover) {
  .nav-button:hover,
  a[href^="/sim/"]:hover,
  a[href*="visualpde.com/sim/" i]:hover {
    background-color: var(--play-button-hover-color);
    border-color: rgba(27, 31, 36, 0.15);
    transition-duration: 0.4s;
    text-decoration: none;
    color: white;
  }

  main a[href^="/sim/"]:hover,
  main a[href*="visualpde.com/sim/" i]:hover {
    border-color: var(--play-button-hover-color);
    border-radius: 6px;
    padding: 2px 2px;
    margin: -2px -2px;
  }
}

.footer-col-wrapper {
  color: var(--soft-text-color);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 820px) {
  .footer-col-2 {
    display: none;
  }
}

.footer-col-3 {
  text-align: right;
  max-width: 50%;
  float: right;
}

div.home-banner {
  position: relative;
  background-color: #ddf1ff;
  height: 25vh;
  width: 100vw;
  background: var(--background-color);
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#sim-placeholder {
  background: rgb(36, 21, 59);
  height: 25vh;
  width: 100vw;
  position: absolute;
  transition: opacity 0.7s ease;
  pointer-events: none;
}

.sliding-in {
  animation: up 0.8s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
  transform: translateY(115%);
}

@keyframes up {
  100% {
    transform: translateY(0%);
  }
}

.home-banner-title {
  border-radius: 0 0 5px 5px;
}

.with-background {
  background-color: rgba(46, 19, 55, 0.5);
}

.pulse {
  animation: pulse-animation 1s ease-in-out infinite alternate;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}

div.home-banner iframe {
  width: 100%;
  height: 100%;
  border: none;
}

div.home_tiles {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

div.topic_tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-column-gap: 24px;
}

a.home_tile {
  display: flex;
  padding: 15px 17px 16px 17px;
  border: 1px solid;
  border-radius: 6px;
  border-color: var(--tile-border-color);
  line-height: 1.3;
  color: var(--tile-text-color);
  column-gap: 20px;
}

a.topic_tile {
  border: 1px solid;
  border-radius: 7px;
  border-color: var(--tile-border-color);
  line-height: 1.3;
  color: var(--tile-highlight-color);
  column-gap: 20px;
  margin-bottom: 1.5rem;
}

a.topic_tile div.container {
  padding: 15px 17px 13px 17px;
}

a.home_tile {
  width: 324px;
}

iframe.tutorial_video {
  display: block;
  margin: 10px auto;
  width: 80%;
  aspect-ratio: 16 / 9;
  border-radius: 5px;
  max-width: 600px;
}

div.duration,
div.tag_list {
  font-size: 0.7rem;
  color: var(--soft-text-color);
  padding-bottom: 0.1rem;
}

@media screen and (max-width: 820px) {
  a.home_tile {
    width: 100%;
  }
}

div.topic_banner {
  height: 6rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 6px 6px 0px 0px;
}

@media (hover: hover) {
  a.home_tile:hover,
  a.topic_tile:hover {
    text-decoration: none;
    background-color: var(--hover-background-color);
  }
}

a.home_tile img {
  max-width: 145px;
  height: 145px;
}

a.home_tile div.container,
a.topic_tile div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a.home_tile div.container img {
  border: 3px solid var(--tile-highlight-color);
  object-fit: cover;
  border-radius: 50%;
}

a.topic_tile div.container img {
  border: 1px solid;
  border-color: rgba(27, 31, 36, 0.15);
  object-fit: cover;
  border-radius: 6px;
}

a.home_tile div.container div.title {
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 10px;
}

a.topic_tile div.container div.title {
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 10px;
  color: var(--link-color);
}

a.home_tile div.container div.subtitle {
  font-size: 1.1rem;
  font-weight: 300;
  padding-bottom: 15px;
}

a.topic_tile div.container div.subtitle {
  padding-bottom: 13px;
  color: var(--text-color);
  font-weight: 300;
}

a.topic_tile div.container div.subtitle_equation {
  color: var(--text-color);
  font-weight: 300;
  line-height: 1.7;
}

div.subtitle_equation mjx-container mjx-math {
  font-size: 110%;
}

div#home_box_s div.button {
  background-color: var(--button-color);
  text-align: center;
  width: 60px;
  border: 1px solid;
  border-radius: 6px;
  border-color: rgba(27, 31, 36, 0.15);
  padding: 5px 16px;
  color: white;
  box-shadow: rgba(27, 31, 36, 0.1) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
}

div#home_box_s div.button:hover {
  background-color: var(--hover-color);
  border-color: rgba(27, 31, 36, 0.15);
  transition-duration: 0.1s;
  text-decoration: none;
}

a.topic_tile div.container div.button {
  background-color: var(--tile-highlight-color);
  text-align: center;
  width: 60px;
  border: 1px solid;
  border-radius: 6px;
  border-color: rgba(27, 31, 36, 0.15);
  padding: 5px 16px;
  color: white;
  box-shadow: rgba(27, 31, 36, 0.1) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
}

a.topic_tile div.container div.button:hover {
  background-color: var(--hover-color);
  border-color: rgba(27, 31, 36, 0.15);
  transition-duration: 0.1s;
  text-decoration: none;
}

a.collection {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  padding: 3px 2px 2px;
  margin-right: 10px;
  line-height: 1.1;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

a.collection::after {
  content: " ⟫";
  vertical-align: 7%;
}

.ui_button_documentation {
  display: inline-flex;
  z-index: -1;
  margin-left: 3px;
  margin-right: 3px;
  background-color: var(--ui-button-background-color);
  color: var(--ui-button-color);
  font-size: 0.9rem;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--ui-button-border-color);
  border-radius: 5px;
  text-shadow: 0 1px #fff;
  vertical-align: middle;
}

.ui_button_documentation#equations {
  background: url("/assets/images/function-button.webp") no-repeat;
  background-size: 80%;
  background-position: center;
  background-color: var(--ui-button-background-color);
  color: var(--ui-button-color);
}

.ui_button_documentation#stop_recording {
  color: var(--stop-recording-color);
  width: 30px;
  height: 24px;
}

.post-content h2,
.post-content h3 {
  margin-top: 3rem;
}

.post-content h3 {
  font-size: 22px;
}

.post-content h4,
.post-content h5 {
  margin-bottom: 3px;
  font-weight: 500;
}

h5 {
  font-size: 1.1rem;
}

.post-content h2 + h3 {
  margin-top: 0;
}

.post-content li {
  margin-top: 0.5rem;
}

a.anchor {
  display: block;
  position: relative;
  top: -3rem;
  visibility: hidden;
}

span.click_sequence {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}

#function_button_f {
  font-size: 1.3rem;
  font-family: "Comic Sans", "Comic Sans MS", Arial, Times, serif;
  font-weight: 600;
  margin-right: -1px;
  margin-top: -3px;
  margin-left: 1px;
}

#function_button_open_bracket,
#function_button_close_bracket {
  font-size: 0.8rem;
  font-family: "Comic Sans", "Comic Sans MS", Arial, Helvetica, sans-serif;
  margin-top: 0px;
}

#function_button_x {
  font-weight: 600;
  font-size: 0.85rem;
  font-family: "Comic Sans", "Comic Sans MS", Arial, Helvetica, serif;
  margin-left: -1px;
  margin-right: -1px;
}

.sim {
  display: block;
  width: 70%;
  aspect-ratio: 1;
  border: 2px solid black;
  margin: auto;
  background-color: black;
  max-width: min(80dvh, calc(100dvh - 80px));
  max-height: min(80dvh, calc(100dvh - 80px));
}
@media only screen and (max-width: 600px) {
  .sim {
    width: 99%;
    margin: 0 auto;
  }
}

#top-link,
#top-link:visited,
#top-link:hover {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1.8rem;
  width: 34px;
  height: 34px;
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  background: #fff;
  color: var(--button-color);
  text-decoration: none;
}

@media (hover: hover) {
  #top-link:hover {
    color: var(--hover-color);
  }
}

/* Reduce motion if requested */
@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

input,
textarea {
  background-color: var(--input-background-color);
  border: none;
  border-radius: 5px;
  color: var(--text-color);
  font-size: medium;
  height: 25px;
  outline: none;
  padding-left: 4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input[type="range"] {
  background: none;
}

.dg .parameterSlider:not(.closed) {
  height: 62px;
}

/* Slider */
.vpde-slider {
  height: 2.2em;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
}

input.vpde-slider {
  padding: 0;
}

vpde-slider > span {
  display: inline-flex;
  align-items: center;
}

.vpde-slider-label {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% - 8px);
}

.vpde-slider-label.above {
  top: unset;
  bottom: calc(100% - 8px);
}

.vpde-slider-valLabel {
  font-size: 0.7rem;
  vertical-align: middle;
  padding: 0 0.2rem;
}

/*progress support*/
.vpde-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --distance: calc(
    (var(--value) - var(--min)) * (1 - var(--reversed)) +
      (var(--max) - var(--value)) * var(--reversed)
  );
  --ratio: calc(var(--distance) / var(--range));
  --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
  padding: 0 0.4em;
}

input.reversed {
  direction: rtl;
}

.vpde-slider:focus {
  outline: none;
}

/*webkit*/
.vpde-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
  background: #ffffff;
  border: none;
  box-shadow: 0 0 2px #000000;
  margin-top: calc(max((0.25em - 1px - 1px) * 0.5, 0px) - 1.2em * 0.5);
}

.vpde-slider::-webkit-slider-runnable-track {
  height: 0.5em;
  border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: #efefef;
  box-shadow: none;
}

.vpde-slider:hover::-webkit-slider-runnable-track {
  border-color: #9a9a9a;
}

.vpde-slider::-webkit-slider-thumb:active {
  background: var(--slider-fill-color);
}

.vpde-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(
        var(--slider-fill-color),
        var(--slider-fill-color)
      )
      0 / var(--sx) 100% no-repeat,
    #efefef;
}

/*mozilla*/
.vpde-slider::-moz-range-thumb {
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
  background: #ffffff;
  border: none;
  box-shadow: 0 0 2px #000000;
}

.vpde-slider::-moz-range-track {
  height: max(calc(0.5em - 1px - 1px), 0px);
  border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: #efefef;
  box-shadow: none;
}

.vpde-slider:hover::-moz-range-track {
  border-color: #9a9a9a;
}

.vpde-slider::-moz-range-thumb:active {
  background: var(--slider-fill-color);
}

.vpde-slider.slider-progress::-moz-range-track {
  background: linear-gradient(
        var(--slider-fill-color),
        var(--slider-fill-color)
      )
      0 / var(--sx) 100% no-repeat,
    #efefef;
}

/*ms*/
.vpde-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

.vpde-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

.vpde-slider::-ms-thumb {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background: #ffffff;
  border: none;
  box-shadow: 0 0 2px #000000;
  margin-top: 0;
  box-sizing: border-box;
}

.vpde-slider::-ms-track {
  height: 0.5em;
  border-radius: 0.5em;
  background: #efefef;
  border: 1px solid #b2b2b2;
  box-shadow: none;
  box-sizing: border-box;
}

.vpde-slider:hover::-ms-track {
  border-color: #9a9a9a;
}

.vpde-slider::-ms-thumb:active {
  background: var(--slider-fill-color);
}

.vpde-slider.slider-progress::-ms-fill-lower {
  height: max(calc(1em - 1px - 1px), 0px);
  border-radius: 0.5em 0 0 0.5em;
  margin: -1px 0 -1px -1px;
  background: var(--slider-fill-color);
  border: 1px solid #b2b2b2;
  border-right-width: 0;
}

/* vpde-buttons */
.vpde-button {
  display: inline-flex;
  margin-left: 3px;
  margin-right: 3px;
  background-color: var(--ui-button-background-color);
  color: var(--ui-button-color);
  font-size: 1.1rem;
  height: 35px;
  width: 35px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--ui-button-border-color);
  border-radius: 5px;
  text-shadow: 0 1px #fff;
  vertical-align: middle;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: all;
}

@media (hover: hover) {
  .vpde-button:hover {
    color: var(--ui-button-hover-color);
    cursor: pointer;
  }
}

vpde-chart {
  display: block;
  margin: auto;
  max-width: 100%;
}

#search-button {
  display: flex;
  float: right;
  line-height: 50px;
  margin: 8px 5px 0 0;
  height: 35px;
  width: 35px;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-shadow: 0 1px #fff;
  color: var(--text-color);
}

@media (hover: hover) {
  #search-button:hover {
    opacity: 0.6;
  }
}

#siteSearchForm {
  position: absolute;
  width: 455px;
  right: 127px;
  height: 50px;
  vertical-align: middle;
  pointer-events: none;
  z-index: 2;
  pointer-events: none;
}

@media screen and (max-width: 800px) {
  #siteSearchForm {
    width: calc(100% - 150px);
  }
  #siteSearchForm:focus-within ~ .site-title {
    opacity: 0;
    pointer-events: none;
  }
}

#siteSearchForm > * {
  pointer-events: all;
}

#pageSearchForm {
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  vertical-align: middle;
  padding-bottom: 1rem;
}

#siteSearchForm p,
#pageSearchForm p {
  margin-bottom: 0;
}

#siteSearchInput {
  background: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: auto;
  width: 0;
  vertical-align: middle;
  transition: all 0.5s ease;
  right: 44px;
  pointer-events: all;
  padding: 6px 0px;
}

#siteSearchForm:focus-within #siteSearchInput {
  width: calc(100% - 50px);
  background-color: var(--input-background-color);
  padding: 6px 16px;
}

#pageSearchInput {
  width: 100%;
  vertical-align: middle;
}

#pageSearchInput::placeholder,
#siteSearchInput::placeholder {
  color: var(--soft-text-color);
  opacity: 100%;
}

.site-nav {
  position: absolute;
  top: 0px;
  right: 20px;
  line-height: 50px;
}

.site-nav .page-link {
  color: var(--text-color);
}

/* @media screen and (max-width: 600px) { */ /* Changed for feedback button */
@media screen and (max-width: 800px) {
  .site-nav {
    top: 6px;
  }
  .dark-mode .site-nav {
    background-color: #1c2133;
  }
  .site-nav .menu-icon > svg {
    fill: var(--text-color);
  }
}

.site-title,
.site-title:visited {
  font-size: 24px;
  letter-spacing: -0.9px;
  line-height: 49px;
  transition: opacity 0.5s ease;
  z-index: 1;
  color: var(--text-color);
}

.links-wrapper {
  pointer-events: none;
  position: absolute;
  bottom: 20px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  opacity: 0;
  transition: opacity 1s ease;
  flex-wrap: wrap;
  row-gap: 0.4rem;
}

.links-wrapper a {
  pointer-events: all;
  color: white;
  border: 1px solid;
  border-radius: 6px;
  border-color: white;
  padding: 3px 16px;
  color: #ffffff;
  box-shadow: rgba(27, 31, 36, 0.1) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  white-space: nowrap;
}

.links-wrapper a:not([href^="/sim/"]):not([href*="visualpde.com/sim/" i]) {
  background-color: color-mix(in srgb, var(--button-color) 90%, transparent);
}

.links-wrapper .button {
  background-color: rgba(48, 32, 74, 0.85) !important;
  text-decoration: none !important;
}

/* If we can hover, add a hover style to the button class */
@media (hover: hover) {
  .links-wrapper .button:hover {
    background-color: var(--hover-color);
    border-color: rgba(27, 31, 36, 0.15) !important;
    text-decoration: none;
  }
}

.site-footer {
  background-color: color-mix(
    in srgb,
    var(--background-color) 90%,
    transparent
  );
  z-index: 0;
  padding: 0;
  border: none;
}

/* @media screen and (max-width: 600px) { */ /* Changed for feedback button */
@media screen and (max-width: 800px) {
  #siteSearchForm {
    right: 65px;
    width: calc(100% - 100px);
  }
}

#siteSearchResults {
  display: none;
  padding-top: 0.2rem;
  position: absolute;
  background-color: var(--background-color);
  border-radius: 0 0 5px 5px;
  max-height: min(300px, 50vh);
  height: fit-content;
  overflow-y: scroll;
  padding-left: 1rem;
  padding-right: 1rem;
  top: 90%;
  width: calc(100% - 76px);
  box-shadow: var(--hover-background-color) 0px 1px 0px 0px;
}
#siteSearchResults ul {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0;
}
.siteSearchResult {
  padding-bottom: 1rem;
  font-size: smaller;
  background-color: var(--background-color);
}
.siteSearchResult .title {
  color: var(--text-color);
  font-size: small;
  font-weight: 500;
}
.siteSearchResult a {
  display: flex;
  align-items: center;
  color: var(--soft-text-color);
  text-decoration: none !important;
  border-radius: 5px;
}
.siteSearchResult a:hover,
.siteSearchResult a:focus {
  background-color: var(--hover-background-color);
}
.siteSearchResult a:hover .title {
  text-decoration: none;
}
.siteSearchResult img {
  height: 2rem;
  aspect-ratio: 1;
  margin-right: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  object-fit: cover;
}
#siteSearchBar:focus-within > #siteSearchResults {
  display: unset;
}

#pageSearchResults {
  display: none;
  z-index: 5;
  padding-top: 0.2rem;
  position: absolute;
  background-color: var(--background-color);
  border-radius: 0 0 5px 5px;
  max-height: min(300px, 50vh);
  height: fit-content;
  overflow-y: scroll;
  padding-left: 1rem;
  padding-right: 1rem;
  top: 90%;
  width: calc(100% - 27px);
  box-shadow: var(--hover-background-color) 0px 1px 0px 0px;
}
#pageSearchResults ul {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0;
}
.pageSearchResult {
  padding-bottom: 1rem;
  font-size: smaller;
  background-color: var(--background-color);
  cursor: pointer;
  max-height: 2rem;
}
.pageSearchResult .title {
  color: var(--text-color);
  font-size: small;
  font-weight: 500;
}
.pageSearchResult a {
  display: flex;
  align-items: center;
  color: var(--soft-text-color);
  text-decoration: none !important;
  border-radius: 5px;
}
.pageSearchResult p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pageSearchResult a:hover,
.pageSearchResult a:focus {
  background-color: var(--hover-background-color);
}
.pageSearchResult a:hover .title {
  text-decoration: none;
}
#pageSearchBar:focus-within > #pageSearchResults {
  display: unset;
}

#toc > ul {
  list-style-type: none;
  font-size: small;
}

#toc > ul:not(:has(ul)) {
  list-style-type: unset;
}

#toc > ul > ul {
  list-style-type: circle;
}

#toc > ul > ul > ul {
  list-style-type: disc !important;
}

.gap {
  display: inline-block;
  width: 27px;
  pointer-events: none;
}

.related_post {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  width: min(30vw, 400px);
}

#related_posts_wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#related_posts-container {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  text-align: center;
  transition: opacity 0.7s ease 1s;
  transition: none;
  column-gap: 20px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 0 1.25rem;
}

@media screen and (max-width: 600px) {
  #related_posts-container {
    flex-direction: column;
    align-items: center;
  }

  #related_posts-container > p {
    padding-top: 15px;
  }

  .related_post {
    width: 60vw;
  }
}

#related_posts-container.hiddenPost {
  visibility: hidden;
  opacity: 0;
}

#related_posts-container p {
  margin: 0;
}

.related_post.hiddenPost,
#related_posts_wrapper.hiddenPost {
  display: none;
}

.light-mode-img,
.dark-mode-img {
  height: 2rem;
  /* width: 2rem; */
  margin-right: 4px;
  vertical-align: text-bottom;
  margin-bottom: -2px;
}

/* Dark mode */
.darkmode-button {
  position: absolute;
  right: 24px;
  top: 1px;
  color: var(--link-color);
  cursor: pointer;
  font-size: 1.1rem;
  background: none;
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.darkmode-button .svg-inline--fa {
  margin-right: 5px;
  vertical-align: -0.15em;
}

@media screen and (max-width: 600px) {
  .darkmode-button {
    right: 0px;
  }
}

.darkmode-button:hover {
  filter: brightness(80%);
}

#dark-on {
  display: inline;
}

#light-on {
  display: none;
}

.dark-mode {
  --background-color: #171b29;
  --text-color: #bec1c5;
  --link-color: #c2a1ff;
  --tile-text-color: #dfdfdf;
  --tile-highlight-color: #564fddd0;
  --hover-background-color: #343434;
  --hover-color: #4c46c7;
  --button-color: #564fdd;
  --play-button-color: #008075;
  --play-button-hover-color: rgb(3, 162, 146);
  --soft-text-color: #9d9d9d;
  --ui-button-color: var(--text-color);
  --ui-button-background-color: var(--background-color);
  --ui-button-border-color: #555555;
  --ui-button-hover-color: #555555;
  --slider-fill-color: var(--link-color);
  --tile-border-color: rgba(224, 234, 247, 0.15);
  --font-weight: 400;
  --stop-recording-color: var(--link-color);
  --input-background-color: #303134;
  --input-border-color: var(--ui-button-border-color);
  --table-header-background-color: #2b2c2e;
  --table-even-row-background-color: #303134;
}

.dark-mode #dark-on {
  display: none;
}

.dark-mode #light-on {
  display: inline;
}

.dark-mode .home-banner {
  border-bottom: 1px solid var(--tile-border-color);
}

.dark-mode div.home-banner {
  filter: brightness(90%);
  -webkit-filter: brightness(90%);
}

.dark-mode div.topic_banner {
  filter: brightness(90%);
  -webkit-filter: brightness(90%);
}

.dark-mode .ui_button_documentation#equations {
  background: url("/assets/images/function-button-dark.webp") no-repeat;
  background-size: 80%;
  background-position: center;
  background-color: var(--ui-button-background-color);
}

.dark-mode a.home_tile div.container div.title {
  color: var(--tile-text-color);
}

.dark-mode .nav-button,
.dark-mode .nav-button:visited,
.dark-mode a[href^="/sim/"],
.dark-mode a[href*="visualpde.com/sim/" i] {
  color: #ffffff;
  text-decoration: none;
}

.dark-mode-img,
.dark-mode-title {
  display: none;
}

.light-mode-img,
.light-mode-title {
  display: unset;
}

.dark-mode .dark-mode-img,
.dark-mode .dark-mode-title {
  display: unset;
}

.dark-mode .light-mode-img,
.dark-mode .light-mode-title {
  display: none;
}

.dark-mode-title,
.light-mode-title {
  height: 1.15rem;
  margin-right: 7px;
  vertical-align: text-bottom;
  margin-bottom: 5px;
  /* width:100px; */
}
