div.filter_buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}

button.filter_button {
  background-color: var(--background-color);
  border: 2px solid;
  border-color: var(--button-color);
  color: var(--text-color);
  padding: 5px 16px;
  margin: 5px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button.filter_button[data-active="true"] {
  background-color: var(--button-color);
  color: white;
}

.darkmode button.filter_button[data-active="true"] {
  color: var(--text-color);
}

#no_results {
    display: none;
    text-align: center;
    margin-top: 1rem;
}

.topic_tiles.no_results {
    grid-template-columns: unset;
}