div.wrapper {
  max-width: 1300px;
}

div#library {
  padding: 0 1.25rem;
}

a.topic_tile {
  position: relative;
}

.home_tiles {
  margin-bottom: 3rem;
}

.top_container iframe {
  width: 200px;
  height: 200px;
  border: 3px solid var(--tile-highlight-color);
  background-color: var(--tile-highlight-color);
  object-fit: cover;
  border-radius: 50%;
}

div.top_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10%;
  margin-bottom: 3rem;
  margin-top: 3rem;
  text-align: center;
}

.top_container p {
  font-weight: 300;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

div.filter_buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  position: sticky;
  top: 51px;
  background-color: var(--background-color);
  z-index: 10;
  padding: 5px 0;
  border-bottom: 1px solid var(--tile-border-color);
}

button.filter_button {
  background-color: var(--background-color);
  border: 2px solid;
  border-color: var(--button-color);
  color: var(--text-color);
  padding: 5px 16px;
  margin: 5px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

a.topic_tile div.container:has(> .tag_list) {
  padding-top: calc(15px - 0.5rem);
}

.tag_list {
  font-size: 0.7rem;
  color: var(--soft-text-color);
  padding-bottom: 0.1rem;
}

button.filter_button[data-active="true"] {
  background-color: var(--button-color);
  color: white;
}

.darkmode button.filter_button[data-active="true"] {
  color: var(--text-color);
}

#no_results {
  display: none;
  text-align: center;
  margin-top: 1rem;
}

.topic_tiles.no_results {
  grid-template-columns: unset;
}

@media (hover: hover) {
  button.filter_button:hover[data-active="false"] {
    background-color: var(--hover-background-color);
  }
  button.filter_button:hover[data-active="true"] {
    background-color: var(--hover-color);
  }
  #allButton:hover[data-active="true"] {
    background-color: var(--button-color);
    cursor: default;
  }
}

@media screen and (max-width: 768px) {
  .top_container iframe {
    width: 150px;
    height: 150px;
  }
  div.top_container,
  div.profiles {
    flex-direction: column;
    column-gap: 0;
    margin-top: 0;
    margin-bottom: 3rem;
  }
}
