.site-header {
  opacity: 0;
  transition: opacity 1s ease;
  background-color: color-mix(
    in srgb,
    var(--background-color) 90%,
    transparent
  );
}

html,
body {
  -webkit-overflow-scrolling: touch !important;
  overflow: hidden !important;
  height: 100% !important;
}