vpde-reset {
  transition: opacity 1s ease;
}

.vpde-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
  z-index: 9999;
  background-color: rgba(48, 32, 74, 0.85) !important;
  color: white;
  border-color: white;
}

@media (hover: hover) {
  .vpde-button:hover {
    border-color: rgba(27, 31, 36, 0.15) !important;
    background-color: var(--hover-color);
    color: white;
  }
  vpde-reset:hover {
    opacity: 1;
  }
}

.wrapper > p {
  text-align: center;
}