div.wrapper {
    max-width: 1300px;
}

.top_container iframe {
  width: 200px;
  height: 200px;
  border: 3px solid var(--tile-highlight-color);
  background-color: var(--tile-highlight-color);
  object-fit: cover;
  border-radius: 50%;
}

div.top_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10%;
  margin-bottom: 3rem;
  margin-top: 3rem;
  text-align: center;
}

.top_container p {
  font-weight: 300;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .top_container iframe {
    width: 150px;
    height: 150px;
  }
  div.top_container {
    flex-direction: column;
    column-gap: 0;
    margin-top: 0;
    margin-bottom: 3rem;
  }
}