<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/about.css">

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        <header class="post-header">
          <h1 class="post-title">What is VisualPDE?</h1>
        </header>

        <div class="container">
            <img alt="A system of partial differential equations" src='/assets/images/equation.png' />
            <div>
                <p>Developing intuition for mathematics can be difficult, whether or not you are a mathematician.</p>
                <p>VisualPDE aims to solve this problem.</p>
            </div>
        </div>
        <hr>
        <div class="container">
            <img alt="An intricate criss-crossing simulation" src='/assets/images/complexGinzburgLandau.webp' />
            <div>
                <p>Our lightning-fast simulator makes mathematics <em>visual</em> and <em>interactive</em> on almost any device.</p>
                <p>Jump into a <a href="/sim/" target="_blank">simulation</a> to see for yourself.</p>
            </div>
            <img alt="An intricate criss-crossing simulation" src='/assets/images/complexGinzburgLandau.webp' />
        </div>
        <hr>
        <div class="container">
            <img alt="Dark, spiked peaks on a light background " src='/assets/images/midnight_soliton.webp' />
            <div>
                <p>With dozens of examples and easy ways to create your own content, VisualPDE brings interactive mathematics and science to everyone.</p>
                <p>Begin <a href="/explore">exploring</a> and start <a href="/create">creating</a>.</p>
            </div>
        </div>
        <hr>
        <div class="container">
            <img alt="Moon-shaped pattern reading 'once upon a time'" src='/assets/images/OnceUponATime.webp' />
            <div>
                <p>Not a mathematician? No problem.</p>
                <p>Try out our interactive <a href="/visual-stories">Visual Stories</a> for a snapshot of cutting-edge science and mathematics.</p>
            </div>
            <img alt="Moon-shaped pattern reading 'once upon a time'" src='/assets/images/OnceUponATime.webp' />
        </div>
        <hr>

        {{ content }}

        <div class="profiles">
            <div class="profile">
                <a href="https://benjaminwalker.info/">
                    <img alt="Benjamin Walker" src='/assets/images/Ben.webp' />
                    <p>Benjamin Walker</p>
                </a>
            </div>
            <div class="profile">
                <a href="https://adamtownsend.com/">
                    <img alt="Adam Townsend" src='/assets/images/Adam.webp' />
                    <p>Adam Townsend</p>
                </a>
            </div>
            <div class="profile">
                <a href="https://www.andrewkrause.org/">
                    <img alt="Andrew Krause" src='/assets/images/Andrew.webp' />
                    <p>Andrew Krause</p>
                </a>
            </div>
        </div>

      </div>
    </main>

    {%- include footer.html -%}
    {%- include mathjax.html -%}

  </body>

</html>
