<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}">

  <body>

    {%- include header.html -%}

    <div class="home-banner">
      <div id="sim-placeholder" class="no-select"></div>
      <iframe id="sim" src="/sim/?preset=GrayScottGlidersAdvectingPeriodic&clean" style="visibility:hidden"></iframe>
      <div class='home-banner-content no-select'>
        <div class='home-banner-subtitle'>Interactive solutions of PDE systems</div>
        <div class='home-banner-title'>live on your device.</div>
        <div id="try-clicking">Try clicking <i class="fa-solid fa-arrow-right-long pulse" style="position:relative;left:3px;top:2px;"></i></div>
      </div>
    </div>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        {{ content }}

      </div>
      <div class="links-wrapper">
        <a class="button" href="/sim/">Interactive simulation</a>
        <a class="button" href="/examples/">Explore the examples</a>
      </div>
    </main>

    {%- include mathjax.html -%}

  </body>

  <script type="text/javascript">
    document.querySelector("iframe").addEventListener( "load", function(e) {
      this.style.visibility = "visible";
      document.getElementById("sim").contentWindow.document.getElementById("play").click();
      document.getElementById("sim-placeholder").style.opacity = 0;
      document.getElementsByClassName("home-banner-subtitle")[0].style.opacity = 1;
      setTimeout(function() {
        document.getElementsByClassName("home-banner-title")[0].style.opacity = 1;
      }, 1000);
      setTimeout(function() {
        document.getElementsByClassName("links-wrapper")[0].style.opacity = 1;
        document.getElementsByClassName("site-header")[0].style.opacity = 1;
      }, 7000);
      const tryClickingTimer = setTimeout(function() {
        document.getElementById("try-clicking").style.opacity = 1;
      }, 2500);
      $("#sim").contents().find("#simCanvas").click(function() {
        clearTimeout(tryClickingTimer);
        document.getElementById("try-clicking").style.opacity = 0;
        document.getElementsByClassName("links-wrapper")[0].style.opacity = 1;
        document.getElementsByClassName("site-header")[0].style.opacity = 1;
        //document.getElementsByClassName("home-banner-subtitle")[0].classList.add("with-background");
        //document.getElementsByClassName("home-banner-title")[0].classList.add("with-background");
      });
    });
  </script>

</html>
