<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/suggestions.css">
  <script async src="{{ site.baseurl }}/assets/js/marked.js"></script>
  <script async src="{{ site.baseurl }}/assets/js/DOMPurify.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
  <script async defer src="https://www.google.com/recaptcha/api.js?render=6Lem6lUpAAAAAElYDP09M4el7ZB-rsFEXsDqwB_o"></script>

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
        </header>

        {{ content }}

        <form onsubmit="return sendByEmail();" id="form" class="suggestion">
            <div class="input-data">
                <input type="text" id="name" name="user_name" required/>
                <div class="underline"></div>
                <label for="name">Name</label>
            </div>

            <div class="input-data">
                <input type="email" id="email" name="user_email" required/>
                <div class="underline"></div>
                <label for="mail">Email</label>
            </div>

            <div class="input-data textarea">
                <div class="grow-wrap">
                <textarea id="msg" name="message" onInput="this.parentNode.dataset.replicatedValue = this.value">You can write your suggestion as text or edit this markdown example to see how your suggested content might look as a page on VisualPDE.</textarea>
                </div>
                <div class="underline"></div>
            </div>

            <button class="button g-recaptcha" 
                data-sitekey="6Lem6lUpAAAAAElYDP09M4el7ZB-rsFEXsDqwB_o" 
                data-callback="onSubmit">
                Send
            </button>
        </form>

        <div class="preview" id="preview">
            <h2>Preview</h2>
          <div class="preview-content" id="preview-content"></div>
        </div>

      </div>
    </main>

    {%- include footer.html -%}
    {%- include mathjax.html -%}

  </body>

    <script type="text/javascript">
        function updatePreview() {
            var preview = document.getElementById("preview-content");
            var content = document.getElementById("msg");
            try {;
                preview.innerHTML = DOMPurify.sanitize(marked.parse(content.value));
            }
            catch (e) {
                // Couldn't parse the markdown.
            }
            return false;
        }
        window.onload = function () {
            updatePreview();
            setInterval(updatePreview, 1000);
        }
    </script>

    <script type="text/javascript">
        function onSubmit(token) {
            sendByEmail();
        }
        function sendByEmail(e) {
            if (emailjs) {
                emailjs.sendForm('service_1mjzy8i', 'template_dqsw4kn', document.getElementById('form'), "Q7RWm9uAIDkNvRg78")
                .then(function() {
                    console.log('SUCCESS!');
                }, function(error) {
                    console.log('FAILED...', error);
                });
            } else {
                alert("Unable to send form. Please try again later or contact us directly at hello@visualpde.com.")
            };
            return false;
        }
    </script>

</html>