<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/suggestions.css">
  <script async src="{{ site.baseurl }}/assets/js/marked.js"></script>
  <script async src="{{ site.baseurl }}/assets/js/DOMPurify.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
  <script async defer src="https://www.google.com/recaptcha/api.js"></script>

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
        </header>

        {{ content }}

        <form onsubmit="return onSubmit();" id="form" class="suggestion">
            <button type="submit" disabled style="display: none" aria-hidden="true"></button>
            <div class="form-row">
                <div class="input-data">
                    <input type="text" id="name" name="user_name" required placeholder=" "/>
                    <label for="name">Name</label>
                </div>
                <div class="input-data">
                    <input type="email" id="email" name="user_email" required placeholder=" "/>
                    <label for="email">Email</label>
                </div>
            </div>

            <div class="input-data textarea">
                <div class="grow-wrap">
                <textarea id="msg" name="message" onInput="setTextboxHeight()" onfocus="setTextboxHeight()" onfocusout="setTextboxHeight()">
# Example
You can write your suggestion as text in this box or edit this markdown example to see how your suggested content might look as a page on VisualPDE.

You can easily include links to simulations [like this](https://visualpde.com/sim/?preset=GrayScott), and even typeset mathematics with LaTeX:

$$\begin{aligned} \pd{T}{t} &= \nabla^2T +\nabla \cdot (\v{a}T)\\\\ &= \pdd{T}{x}+\pdd{T}{y}+\pd{(a_xT)}{x}+\pd{(a_yT)}{y}.\end{aligned} $$

## Submission
When you're happy with your suggestion, just press the **Send** button.</textarea>
                </div>
            </div>

            <button id="send" class="button g-recaptcha" 
                data-sitekey="6Lem6lUpAAAAAElYDP09M4el7ZB-rsFEXsDqwB_o" 
                data-callback="onSubmit">
                Send
            </button>
        </form>

        <div class="preview" id="preview">
            <h2>Preview</h2>
          <div class="preview-content" id="preview-content"></div>
        </div>

      </div>
    </main>

    {%- include footer.html -%}
    {%- include mathjax.html -%}

  </body>

    <script type="text/javascript">
        function updatePreview() {
            var preview = document.getElementById("preview-content");
            var content = document.getElementById("msg");
            try {;
                preview.innerHTML = DOMPurify.sanitize(marked.parse(content.value));
                MathJax?.typesetPromise();
            }
            catch (e) {
                // Couldn't parse the markdown.
            }
            return false;
        }
        function setTextboxHeight() {
            document.getElementById("msg").parentNode.dataset.replicatedValue = document.getElementById("msg").value
        }
        setTextboxHeight();
        let previewInterval;
        window.onload = function () {
            if (localStorage.getItem("name")) {
                document.getElementById("name").value = localStorage.getItem("name");
            }
            if (localStorage.getItem("email")) {
                document.getElementById("email").value = localStorage.getItem("email");
            }
            updatePreview();
            previewInterval = setInterval(updatePreview, 1000);
        }
        window.onunload = function () {
            localStorage.setItem("name", document.getElementById("name").value);
            localStorage.setItem("email", document.getElementById("email").value);
        }
    </script>

    <script type="text/javascript">
        function onSubmit(token) {
            var form = document.getElementById("form");
            if (form.checkValidity()) {
                document.getElementById("send").innerHTML = "Sending...";
                sendByEmail();
            } else {
                grecaptcha.reset();
                form.reportValidity();
            }
            return false;
        }
        function wentWrong() {
            document.getElementById("send").disabled = true;
            document.getElementById("send").innerHTML = "Oops! Something went wrong. Get in touch at <a href='mailto:hello@visualpde.com?subject=suggestion'>hello@visualpde.com</a>";
            setTimeout(function() {
                document.getElementById("send").innerHTML = "Send";
                document.getElementById("send").disabled = false;
            }, 5000);
        }
        function sendByEmail() {
            if (emailjs) {
                emailjs.sendForm('service_1mjzy8i', 'template_dqsw4kn', document.getElementById('form'), "Q7RWm9uAIDkNvRg78")
                .then(function() {
                    document.getElementById("send").innerHTML = "Sent!";
                    document.getElementById("send").disabled = true;
                    document.getElementById("form").addEventListener("focusin",function() {
                        document.getElementById("send").innerHTML = "Send";
                        document.getElementById("send").disabled = false;
                        setTextboxHeight();
                    }, {once: true});
                }, function(error) {
                    setTimeout(wentWrong, 1000);
                });
            } else {
                setTimeout(wentWrong, 1000);
            };
            return false;
        }
    </script>

</html>
