---
equations: <span class='ui_button_documentation' id="equations">&nbsp;</span>
settings: <span class='ui_button_documentation'><i class="fa-solid fa-wrench"></i></span>
views: <span class='ui_button_documentation'><i class="fa-solid fa-layer-group"></i></span>
play: <span class='ui_button_documentation'><i class="fa-solid fa-play"></i></span>
pause: <span class='ui_button_documentation'><i class="fa-solid fa-pause"></i></span>
erase: <span class='ui_button_documentation'><i class="fa-solid fa-arrow-rotate-left"></i></span>
restart: <span class='ui_button_documentation'><i class="fa-solid fa-arrow-rotate-left"></i></span>
help: <span class='ui_button_documentation'><i class="fa-solid fa-circle-question"></i></span>
share: <span class='ui_button_documentation'><i class="fa-solid fa-share-from-square"></i></span>
screenshot: <span class='ui_button_documentation'><i class="fa-solid fa-camera"></i></span>
link: <span class='ui_button_documentation'><i class="fa-solid fa-link"></i></span>
stop_recording: <span class='ui_button_documentation' id="stop_recording"><i class="fa-solid fa-video-slash"></i></span>
dark_mode_button: <span class='ui_button_documentation' id="dark-mode-button"><i class="fa-solid fa-moon"></i></span>
light_mode_button: <span class='ui_button_documentation' id="light-mode-button"><i class="fa-solid fa-sun"></i></span>
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
          <div class="duration">Video {{ page.video_length }} | {{ page.read_length }} read</div>
        </header>

        <iframe class="tutorial_video" src="{{ page.video }}?modestbranding=1&iv_load_policy=3&cc_load_policy=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <h1>Transcript</h1>

        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    {%- include mathjax.html -%}

  </body>

</html>